*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.backimg {
    /* background-image: url(https://i.stack.imgur.com/jGlzr.png); */
    background-color: skyblue;

    height: 1000px;
    
}

#title {

    text-align: center;
    margin-top: 0px;


}

#description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;


}

/* .backimg::before {    
    content: "";
    background-image: url('https://i.stack.imgur.com/jGlzr.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
} */



#survey-form {


    background-color:rgba(4, 4, 66, 0.5);
    text-align: justify;

    max-width: 600px;
    line-height: 1.5rem;
    
    margin: auto;
    border: 2px solid green;
    /* margin-bottom: 500px; */

}

.textareaa {

    width: 100%;

}

#button {
    background-color: green;
    position: relative;
    height: 30px;
    width: 80px;
    left: 250px;
}
